<ul>
   <strong>Terminal</strong>
   <li>npx express-generator --view=hbs</li>
   <li>npm install</li>
   <li>nodemon</li>
   <br>
   <strong>Code</strong>
   <li>views/index.hbs</li>
   <br>
   <strong>Browser</strong>
   <li>localhost:3000</li>
</ul>