<form action="/login" method="post">
   <h1>User Login</h1>
   <input type="text" name="username"
   placeholder="Enter username" required>
   <br><br>
   <input type="password" name="password"
   placeholder="Enter password" required>
   <br><br>
   <input type="submit" value="Login">
</form>